@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  outline: none;
}

body {
  background-color: #f3f4f6;
}
.dropbtn {
  color: white;
  height: 20px;
  cursor: pointer;
}

.dropdown {
  margin-left: 85%;
  margin-top:1%;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 9px;
}

.dropdown-content a, .dropdown-content button{
  border-radius: 9px;
  color: black;
  padding: 12px 16px;
  display: block;
  width: 100%;
  text-align: left;
}

.dropdown-content a:hover ,.dropdown-content button:hover{
  background-color: #ff46b7;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.create-textarea{
  width: 70%;
}
